@model CraigslistClone.Models.Listing_Model.SearchQueryModel

@if (Model.results.Any())
{
    <h1>
        Results for @Model.query
    </h1>

    <form method="post">
        <input type="text" style="width: 400px" name="searchQuery" id="searchQuery" />

        <input type="submit" value="Search" />
        <br />
    </form>
    <br />

    <body>
        <table class="table table-hover" id="threadIndexTable">

            <tbody>
                @foreach (var listing in Model.results)
                {
                <tr onclick="location.href = '@(Url.Action("Index", "Listing", new { Id = listing.Id } ))'">
                    <td>
                        <a asp-controller="Listing" asp-action="Index" asp-route-id="@listing.Id">
                            @listing.Title
                        </a>
                    </td>
                    <td style="width:15%; text-align:center">
                        @listing.hostThread.Title
                    </td>
                    <td style="width:15%; text-align:center">
                        Created: @listing.Created.ToString("d")
                    </td>
                    <td style="width:15%; text-align:center">
                        Expires: @listing.Expires.ToString("d")
                    </td>
                </tr>
                }
            </tbody>
        </table>
    </body>
}
else
{
    <h1>
        There were no results for @Model.query
    </h1>

    <form method="post">
        <input type="text" style="width: 400px" name="searchQuery" id="searchQuery" />

        <input type="submit" value="Search" />
        <br />
    </form>
}