@model CraigslistClone.Models.Listing_Model.SearchQueryModel

@if (Model.results.Any())
{
    <h1>
        Results for @Model.query
    </h1>

    <body>
        <table class="table table-hover" id="threadIndexTable">

            <tbody>
                @foreach (var listing in Model.results)
                {
                    <tr>
                        <td>
                            <a asp-controller="Listing" asp-action="Index" asp-route-id="@listing.Id">
                                @listing.Title
                            </a>
                        </td>
                        <td style="width:10%; text-align:center">
                            @listing.Created.ToString("d")
                        </td>
                        <td style="width:10%; text-align:center">
                            @listing.Expires.ToString("d")
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </body>
}
else
{
    <h1>
        There were no results for @Model.query
    </h1>
}