@model CraigslistClone.Models.ThreadTopicModel

@{
    ViewData["Title"] = "Topic";
}

<h1>Welcome to the @Model.Thread.Name Thread!</h1>

<div class="row" id="forumIndexContent">
@if( Model.Listings.Any() )
{
    <table class="table table-bordered table-hover">
        <tbody>
            @foreach( var listing in Model.Listings )
            {
            <tr>
                <td>
                    <a asp-controller="Listing" asp-action="Index" asp-route-id="@listing.Id">
                        @listing.Title
                    </a>
                </td>
                <td>
                    @listing.Author
                </td>
                <td>
                    @listing.PostDate
                </td>
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <div class="noPosts">
        <h3>
            It looks like there are no listings in @Model.Thread.Name yet. <br />

        </h3>
    </div>
}
</div>