@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager

@model CraigslistClone.Models.ThreadTopicModel

<style>
    .zoom 
    {
      transition: transform .3s; /* Animation */
      margin: 0 auto;
    }

    .zoom:hover 
    {
        transform: scale(1.5); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
        vertical-align: middle;
    }
</style>

@{
    ViewData["Title"] = "Topic";
}

<h1>Check out all of the @Model.Thread.Name listings!</h1>

<span id="headingbtn">
    @if (Model.Listings.Any() && SignInManager.IsSignedIn(User))
    {
        <a asp-controller="Listing" asp-action="Create" asp-route-id=@Model.Thread.Id class="btn btn-dark"> Create Post </a>
        <br />
    }
</span>

<body>
    <br />
    <div class="row" id="forumIndexContent">
        @if (Model.Listings.Any())
        {
            <table class="table table-bordered table-hover">
                <tbody>
                    @foreach (var listing in Model.Listings)
                    {
                    <tr onclick="location.href = '@(Url.Action("Index", "Listing", new { Id = listing.Id }))'">
                        <td width="200">
                            <a asp-controller="Listing" asp-action="Index" asp-route-id="@listing.Id">
                                @listing.Title
                            </a>
                        </td>

                      @{
                            string imgSrc = null;
                            @foreach (var img in listing.Images)
                            {
                    <td>
                        @{
                            if (img != null)
                            {
                                var base64 = Convert.ToBase64String(listing.image);
                                imgSrc = String.Format("data:image/png;base64,{0}", base64);
                            }

                            <div class="zoom">
                                <img src="@imgSrc" height="100" width="200" />
                            </div>
                        }
                    </td>

                            }
                      }

                        <td style="width:20%; text-align:center">
                            Listing Date: @listing.PostDate.ToString("d")
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        }
        else
        {

            @if (SignInManager.IsSignedIn(User))
            {
                <div class="noPosts" style="text-align: center;">
                    <p style="display: inline-block;">
                        <br /> It looks like there are no @Model.Thread.Name listings yet. <br />
                        Why not <a asp-controller="Listing" asp-action="Create" asp-route-id="@Model.Thread.Id"><span>Create One?</span></a>
                    </p>
                </div>
            }
            else
            {
                <div class"noPostsSignedOut" style="text-align: center;" >
                    <p>
                        There are no current listings for @Model.Thread.Name please sign in if you would like to create one!
                    </p>
                </div>
            }
        }
    </div>
</body>